[submodule "flex-box-practice"]
	path = flex-box-practice
	url = https://github.com/tarthurf/flex-box-practice
[submodule "working-with-arrays"]
	path = working-with-arrays
	url = https://github.com/tarthurf/working-with-arrays
[submodule "func-param-practice"]
	path = func-param-practice
	url = https://github.com/tarthurf/func-param-practice
[submodule "web-api-practice"]
	path = web-api-practice
	url = https://github.com/tarthurf/web-api-practice
[submodule "jquery-tutorial"]
	path = jquery-tutorial
	url = https://github.com/tarthurf/jquery-tutorial
[submodule "conditionals-tutorial"]
	path = conditionals-tutorial
	url = https://github.com/tarthurf/conditionals-tutorial.git
[submodule "fetch-async-tutorial"]
	path = fetch-async-tutorial
	url = https://github.com/tarthurf/fetch-async-tutorial
